<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <form method="GET" action="/search">
        <h2> Search Our Accomodations </h2>
        <p>Country: <input type="text" name="country"></p>
            
            <!-- <select>
            <option th:each="c:${countries}" th:value="${c}"></option>

        </select> -->
        
  
        <p>Number of Person:<input type="text" name="numberOfPerson"></p>
   
        <p>Price Range: </p>
        <p>Min: <input type="text" name="minPrice"></p> 
        <p>Max:<input type="text" name="maxPrice"></p>

        <button type="submit">Search</button>
        <br/>
    </form>
</body>
</html>